<footer class="footer" [ngClass]="themeService.isLightTheme ? 'light-theme' : ''">
  <div class="footer-left">
    <p>&copy; 2025 - Alexandre AUBERT - Portfolio</p>
    <p id="ecoindex-badge"></p>
  </div>
  <div class="footer-right social-icons">
    <a href="https://www.linkedin.com/in/alexandreaubertqa" aria-label="LinkedIn" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/aubertaa/" aria-label="GitHub" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://medium.com/@alexandre.aubert" aria-label="Medium" target="_blank">
      <i class="fab fa-medium"></i>
    </a>
  </div>
</footer>
