.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Ensure footer stays at the bottom */
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
  border-top: 1px solid #ddd; /* Subtle separation line */
  font-size: 14px; /* Adjust font size as needed */
  color: #fff; /* Default text color */
}


.footer a {
  color: #fff; /* Default text color */
}

.footer-left p {
  margin: 0;
}

.footer-right a {
  margin-left: 15px;
  margin-right: 25px;
  text-decoration: none;
  font-size: 18px; /* Adjust link/icon size */
  transition: color 0.3s; /* Smooth hover transition */
}

.footer-right a:hover {
  color: #007bff; /* Change color on hover */
}


footer.light-theme {
  background-color: #f8f9fa;
  color: #343a40;
}

footer.light-theme a {
  color: #343a40;
}