<header class="d-flex justify-content-between align-items-center p-1 shadow-sm" [ngClass]="themeService.isLightTheme ? 'light-theme' : ''">
  <!-- Burger Menu Icon (visible on small screens) -->
  <button class="burger-menu btn btn-outline-secondary d-md-none" (click)="toggleMenu()">
    <i class="fas fa-bars" aria-label="Toggle Navigation Menu"></i>
  </button>

  <!-- Navigation Menu -->
  <nav class="flex-column flex-md-row" [ngClass]="{'menu-collapsed': isMenuCollapsed, 'light-theme' : themeService.isLightTheme}">
    <a class="nav-link mx-md-2" routerLink="/"><i class="fas fa-home" title="Retour à l'accueil"></i></a>
    <a class="nav-link mx-md-2" routerLink="/aboutme">A propos</a>
    <a class="nav-link mx-md-2" routerLink="/mon-parcours">Parcours</a>
    <a class="nav-link mx-md-2" routerLink="/mes-competences">Compétences</a>
    <a class="nav-link mx-md-2" routerLink="/projets">Projets</a>
    <a class="nav-link mx-md-2" routerLink="/achievements">Accomplissements</a>
    <a class="nav-link mx-md-2" routerLink="/library">Bibliothèque</a>
    <a class="nav-link mx-md-2" routerLink="/contact">Contact</a>
  </nav>

  <!-- Font Size Controls -->
  <div class="font-size-controls">
    <button class="btn btn-outline-secondary" aria-label="Small Font Size" (click)="changeFontSize('small')">
      <i class="fas fa-font fa-xs me-2" title="Small Font Size" [ngClass]="themeService.isLightTheme ? 'text-dark' : 'text-light'"></i>
    </button>
    <button class="btn btn-outline-secondary" aria-label="Medium Font Size" (click)="changeFontSize('medium')">
      <i class="fas fa-font fa-sm me-2" title="Medium Font Size" [ngClass]="themeService.isLightTheme ? 'text-dark' : 'text-light'"></i>
    </button>
    <button class="btn btn-outline-secondary" aria-label="Large Font Size" (click)="changeFontSize('large')">
      <i class="fas fa-font fa-lg" title="Large Font Size" [ngClass]="themeService.isLightTheme ? 'text-dark' : 'text-light'"></i>
    </button>
    <span class="mx-3">|</span>
    <button class="btn btn-outline-secondary" id="theme-toggle" (click)="toggleTheme()">
      <i class="fas" title="Light / dark theme switcher" [ngClass]="themeService.isLightTheme ? 'fa-sun text-dark' : 'fa-moon text-light'"></i>
    </button>
  </div>
</header>
