header {
  background-color: #333;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  max-width: 100%;
  overflow: auto;
}

header.light-theme {
  background-color: #f8f9fa;
}

header.light-theme nav a {
  color: #343a40;
}

header.light-theme nav a:hover {
  background-color: #e9ecef;
}

nav a {
  color: #ddd;
  padding: 10px 15px;
  border-radius: 5px; /* Consistent styling for hover effects */
  transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
  color: #007bff;
  background-color: #444;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s;
}

button:hover {
  color: #007bff;
}

.font-size-controls  {
  display: inherit;
  align-items: center;
}

.font-size-controls .btn  {
  color: white;
}
