<header class="d-flex justify-content-between align-items-center p-1 shadow-sm" [ngClass]="themeService.isLightTheme ? 'light-theme' : ''">
  <nav class="d-flex">
    <a class="nav-link mx-2" routerLink="/"><i class="fas fa-home" title="Retour à l'accueil"></i></a>
    <a class="nav-link mx-2" routerLink="/mes-competences">Compétences</a>
    <a class="nav-link mx-2" routerLink="/projets">Projets</a>
    <a class="nav-link mx-2" routerLink="/achievements">Accomplissements</a>
    <a class="nav-link mx-2" routerLink="/library">Bibliothèque</a>
    <a class="nav-link mx-2" routerLink="/contact">Contact</a>
  </nav>
  <button class="btn btn-outline-secondary" (click)="toggleTheme()">
    
    <i class="fas" [ngClass]="themeService.isLightTheme ? 'fa-sun' : 'fa-moon'" title="Light / dark theme switcher"></i></button>
</header>