<app-header></app-header>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-2 mb-4" *ngFor="let competency of competencies">
      <div
        class="card h-100 shadow-lg"
      >
        <!-- Category at the top-right -->
        <div
          class="top-0 m-1 badge badge-{{
            competency.category.replace('/', '-') | lowercase
          }} text-white"
        >
          {{ competency.category }}
        </div>

        <div class="card-body text-center">
          <div>
            <h5 class="card-title mt-2 mb-0 text-dark">{{ competency.title }}</h5>
          </div>


          <!-- Card description 
          <p class="card-text text-muted">{{ competency.description }}</p>-->
        </div>


          <div class="logo-container mb-3 mt-3 text-center">
            <img class="category-logo img-fluid" alt="{{ competency.category }} logo" [src]="competency.logo">
          </div>

        <div class="card-footer text-center border-0">
          <!-- Certification Icon -->
          <div class="bg-transparent border-0 text-right"  *ngIf="competency.certification != ''">
            <i
              class="fas fa-medal text-warning"
              *ngIf="competency.certification"
              [attr.title]="'Certified : ' + competency.certification"
            ></i>
          </div>
                    <div class="level-stars"  *ngIf="competency.certification == ''">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <i class="fas" [class.fa-star]="i < competency.level" [class.fa-star-half-alt]="i === competency.level - 0.5" [class.fa-star-o]="i >= competency.level"></i>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
