/* General Card Styling */
.card {
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card .badge {
    font-size: 12px;
    font-weight: bold;
}

/* Category Logo */
.category-logo {
    width: 80px;
    /* Adjust size as needed */
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
}

.logo-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100%;
    /* Ensures full height of the card body */
}

/* Colors for Different Categories */
.badge-langages-frameworks {
    background-color: #28a745;
}

.badge-ingénierie {
    background-color: red;
}

.badge-outils {
    background-color: #007bff;
}

.badge-langues {
    background-color: #ffc107;
}

.badge-agilité {
    background-color: purple;
}

.badge-tests {
    background-color: darkcyan;
}

.card-footer {
    color: goldenrod;
}

.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Star Rating Styling */
.level-stars i {
    color: #ffc107;
    /* Golden star color */
    font-size: 15px;
    /* Adjust star size */
    margin: 0 2px;
    /* Add spacing between stars */
}