<app-header></app-header>
<div class="container mt-4">
  
    <!-- Toggle Filter: On/Off aligned to the right -->
    <div class="col-md-12 d-flex justify-content-end align-items-center mb-4">
      <span class="mr-2">Voir seulement les compétences certifiées</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="showCertifiedOnly" (change)="filterCompetencies()">
        <span class="slider round"></span>
      </label>
    </div>


  <div *ngFor="let category of categories">
    <section class="category-section mb-5"
    *ngIf="getCompetencies(category).length > 0"
    >
      <div class="text-center mb-4">
        <h3 class="category-title text-center">{{ category }}</h3>
      </div>
      <div class="row">
        <div
          class="col-md-3 mb-4"
          *ngFor="let competency of getCompetencies(category)"
          [ngClass]="{ 'card-clicked': selectedCompetency === competency }"
        >
          <div
            class="card h-100 shadow-lg"
            (click)="onCardClick(category, competency)"
          >
            <!-- Category at the top-right -->
            <div
              class="top-0 m-1 badge badge-{{
                competency.category.replace('/', '-') | lowercase
              }} text-white"
            >
              {{ competency.category }}
            </div>

            <div class="card-body text-center">
              <div>
                <h5 class="card-title mt-2 mb-0 text-dark">
                  {{ competency.title }}
                </h5>
              </div>
            </div>

            <div class="logo-container mb-3 mt-3 text-center">
              <img
                class="category-logo img-fluid"
                alt="{{ competency.category }} logo"
                [src]="competency.logo"
              />
            </div>

            <div class="card-footer text-center border-0">
              <!-- Certification Icon -->
              <div
                class="bg-transparent border-0 text-right"
                *ngIf="competency.certification != ''"
              >
                <i
                  class="fas fa-medal text-warning"
                  *ngIf="competency.certification"
                  [attr.title]="'Certified : ' + competency.certification"
                >
                  Certified</i
                >
              </div>
              <div class="level-stars" *ngIf="competency.certification == ''">
                <ng-container
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                >
                  <i
                    class="fas"
                    [class.fa-star]="i < competency.level"
                    [class.fa-star-half-alt]="i === competency.level - 0.5"
                    [class.fa-star-o]="i >= competency.level"
                  ></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>

<!-- Description panel popin -->
<div class="popin-modal" *ngIf="showDescription" (click)="closeModal()">
  <div class="popin-content" (click)="$event.stopPropagation()">
    <div class="popin-header">
      <img
        class="category-logo img-fluid"
        alt="{{ selectedCompetency.category }} logo"
        [src]="selectedCompetency.logo"
      />

      <h4 class="text-dark">{{ selectedCompetency.title }}</h4>
      <div
        class="top-0 m-1 badge badge-descr badge-{{
          selectedCompetency.category.replace('/', '-') | lowercase
        }} text-white"
      >
        {{ selectedCompetency.category }}
      </div>
    </div>
    <div class="popin-body">
      <p class="text-muted">{{ selectedCompetency.description }}</p>
    </div>
    <div class="popin-footer">
      <div
        class="bg-transparent border-0 text-center"
        *ngIf="selectedCompetency.certification != ''"
      >
        <i
          class="fas fa-medal text-warning"
          *ngIf="selectedCompetency.certification"
          [attr.title]="'Certified : ' + selectedCompetency.certification"
          >{{ " Certified " + selectedCompetency.certification }}</i
        >
      </div>
      <div
        class="level-stars text-center"
        *ngIf="selectedCompetency.certification == ''"
      >
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
          <i
            class="fas"
            [class.fa-star]="i < selectedCompetency.level"
            [class.fa-star-half-alt]="i === selectedCompetency.level - 0.5"
            [class.fa-star-o]="i >= selectedCompetency.level"
          ></i>
        </ng-container>
      </div>
      <button class="btn btn-sm btn-secondary mt-2" (click)="closeModal()">
        Fermer
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
