<div class="layout">
  <app-header></app-header>
  <div class="content">
    <div class="home">
      <h1>Bienvenue sur mon Portfolio</h1>
      <img
        class="profile-pic"
        src="AUBERTAlexandre.jpg"
        alt="Profile Picture"
        style="width: 225px;"
      />
      <h1>Alexandre AUBERT</h1>
      <h2>Head of software engineering</h2>
      <div class="container">
      <article class="presentation">
        <p>
          <span style="color:blue;">Passionné d'ingénierie logicielle</span> depuis plus de 15 ans maintenant, j'aime explorer tous les aspects du développement d'applications. 
        </p>
        <p>
          J'aime découvrir et pratiquer différents langages, dans une démarche <span style="color:blue;">'clean code'</span> et j'ai le souci de l'optimisation de la maintenabilité du code sur le long terme. Une bonne gestion, en toute maîtrise, de la dette technique me paraît indispensable pour assurer un succès durable. J'accompagne d'ailleurs mon entreprise sur <span style="color:blue;">les aspects stratégiques d'investissement</span> en ce sens depuis environ 10 ans.</p>
        <p>
        Convaincu de la valeur ajoutée par <span style="color:blue;">l'Agilité et la culture DevOps</span>, j'ai eu l'occasion de mettre en place des pratiques agiles et des mécaniques d'automatisation avancée dans plusieurs entreprises, en particulier en tant que Scrum Master mais aussi en tant que membre d'équipe, responsable de tests ou encore CI Manager. J'ai également eu l'occasion de former des équipes à ces pratiques et à la culture DevOps avant de les accompagner plus en détail dans leur mise en oeuvre et leur évolution organisationnelle.
        </p>
        <p>Egalement <span style="color:blue;">développeur et développeur d'automatismes de test</span> depuis de nombreuses années, je suis particulièrement sensible aux risques de régressions et à l'impact que ces régressions peuvent avoir sur les clients bien sûr mais aussi sur le confort de développement des membres d'équipes de développement. Aujourd'hui <span style="color:blue;">manager</span> de développeurs, testeurs, product owners, je suis particulièrement attentif à <span style="color:blue;">réunir les conditions de l'engagement</span> pour chacun, ce qui me semble être un ingrédient essentiel, à associer aux bonnes pratiques, pour <span style="color:blue;">assurer la réussite de l'entreprise</span>.
        </p>
      </article>
    </div>
      <div class="quick-links">
        <div class="link-card" *ngFor="let section of sections">
          <!-- Title and Description container -->
          <div class="content">
            <p>{{ section.description }}</p>
          </div>
          <!-- Button container aligned to the bottom -->
          <div class="button-container">
            <a class="btn btn-info" [routerLink]="section.link">{{
              section.title
            }}</a>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
