/* .link-card styling for flexible content with button at the bottom */
.link-card {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: flex-start;
  /* Full width for smaller screens */
  min-height: 200px;
  /* Adjust minimum height for smaller screens */
  margin: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* Padding does not affect width calculation */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Content area (title and description) */
.link-card .content {
  flex-grow: 1;
  /* Allow this section to take up remaining space */
  display: flex;
  flex-direction: column;
  /* Stack title and description vertically */
  justify-content: center;
  /* Align at the top */
}

/* Title styling */
.link-card .section-title {
  word-wrap: break-word;
  /* Wrap long words */
  font-size: 1.25rem;
  /* Adjust font size for title */
  margin-bottom: 10px;
  /* Adds space between title and description */
  line-height: 1.3;
}

/* Description styling */
.link-card p {
  font-size: 1rem;
  margin-bottom: 15px;
  /* Adds space between description and button */
}

.link-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button container styling to align it at the bottom */
.button-container {
  display: flex;
  justify-content: center;
  /* Center the button horizontally */
  align-items: center;
  /* Center the button vertically within the container */
  margin-top: auto;
  /* Push the button container to the bottom */
}

/* Button styling */
.link-card .button-container a.btn {
  //padding: 10px 20px;
  /* Add padding to the button */
  font-size: 1rem;
  /* Adjust button text size */
  text-align: center;
  /* Center text inside button */
}

/* .quick-links styling to ensure responsive layout */
.quick-links {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  /* Cards wrap to the next line on smaller screens */
  gap: 20px;
}
