<app-header></app-header>
<div class="home container">
  <h1>Bienvenue sur mon Portfolio</h1>
  <img class="profile-pic" src="AUBERTAlexandre.jpg" alt="Profile Picture">
  <p>Découvrez mes compétences à travers mes réalisations et mes différents projets</p>
  <div class="quick-links">
    <div class="link-card" *ngFor="let section of sections">
      <!-- Title and Description container -->
      <div class="content">
        <p>{{ section.description }}</p>
      </div>
      <!-- Button container aligned to the bottom -->
      <div class="button-container">
        <a class="btn btn-primary" [routerLink]="section.link">{{ section.title }}</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
