<div class="layout">
  <app-header></app-header>

  <div class="timeline-container">
    <div class="timeline">
      <div class="timeline-item" *ngFor="let project of getProjects(); let i = index">
        <div class="timeline-content" [ngClass]="{'left': i % 2 === 0, 'right': i % 2 !== 0}">
          <div class="timeline-header">
            <h3 class="timeline-title">{{ project.title }}</h3>
          </div>
          <div class="timeline-body">
            <div class="timeline-meta" [ngClass]="{'reverse': i % 2 !== 0}">
            <p class="timeline-domain">{{ project.domaine }}</p>
            <p class="timeline-date">{{ project.date }}</p>
          </div>
            <img class="timeline-image" alt="{{ project.title }} image" *ngIf="project.image" [src]="project.image">
            <p class="timeline-description" *ngIf="project.description">{{ project.description }}</p>
            <div class="timeline-documents" *ngIf="project.documents.length">
              <a class="timeline-document-link" *ngFor="let document of project.documents" [href]="document" target="_blank">View Document</a>
            </div>

            <div class="timeline-competencies" *ngIf="project.involved_competencies.length">
              <span class="competency-badge" *ngFor="let competency of project.involved_competencies">{{ competency }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

  <app-footer></app-footer>
</div>
