<div class="layout">
  <app-header></app-header>



  <div class="timeline-container">
  <div class="timeline">
    <div class="timeline-item" *ngFor="let project of getProjects(); let i = index">
      <div class="timeline-content" [ngClass]="{'left': i % 2 === 0, 'right': i % 2 !== 0}">
        <h3 class="timeline-title">{{ project.title }}</h3>
        <p class="timeline-date">{{ project.date }}</p>
        <p class="timeline-domain">Domaine: {{ project.domaine }}</p>
        <ul class="timeline-competencies" *ngIf="project.involved_competencies.length">
          <li *ngFor="let competency of project.involved_competencies">{{ competency }}</li>
        </ul>
        <p class="timeline-description" *ngIf="project.description">{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>
    <app-footer></app-footer>
  

</div>
