/* Global Styles */
@import "./bootstrap.min.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling of the entire page */
  color: white; /* Default text color */
  background-color: #333; /* Default background color */
}

body.light-theme {
  background-color: #f9f9f9;
  color: #333;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full viewport height */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height for content */
  margin: 0 auto;
}

.content {
  flex: 1; /* Takes remaining space */
  overflow-y: auto; /* Scrollable content */
}

.home {
  text-align: center;
  padding: 50px 0;
}

/* Profile Picture */
.profile-pic {
  border-radius: 30%;
  margin-bottom: 20px;
}

/* Navigation Links */
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
